.App {
  text-align: center;
}
.navBar{
  margin: 1em 5em 5em 5em;
  background-color: tan;
  color: light-blue;
  font-family: Consolas, monospace;
  border-radius: 25px
}
.titleBanner{
  margin: 5px 0 0 5px;
  font-family: Consolas, monospace;
  color: blue;
  font-size: 2em;
}
